$bg-blue: #00baf0;
$link-pink: #fa68be;
$link-grey: #999999;
$link-blue: #0071bb;
$link-footer: #666666;
$font: "Arial";
$central: 100px;

* {
  margin: 0;
  font-family: $font;
}

@mixin active() {
  padding: 12px 20px;
  color: #ffffff;
  font-weight: bold;
  background-color: $bg-blue;
  text-decoration: none;
  border-radius: 4px;
}

@mixin nav() {
  list-style-type: none;
  padding: 10px;
}

@mixin triangle($width, $dir, $color) {
  @if $dir == down {
    height: 0;
    width: 0;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  }
}

.central {
  min-width: 980px;
}

.main-nav {
  margin: 30px $central;
}

.main-nav__items {
  @include nav;
  float: left;
  font-size: 20px;
}

.main-nav__item {
  display: inline-block;
  padding: 10px;
  color: $link-blue;
}

.main-nav__item--active {
  @include active;
  &::after {
    position: absolute;
    left: 185px;
    top: 95px;
    content: "";
    @include triangle(15px, down, $bg-blue);

  }
}

.main-nav__user-items {
  list-style-type: none;
  text-align: right;
  padding-top: 25px;

}

.main-nav__user-item {
  font-size: 13px;
  text-decoration-style: dashed;
  -webkit-text-decoration-style: dashed;
}

.main-nav__user-login {
  color: $link-pink;
}

.main-nav__user-login::before {
  content: url("../../images/lock.png");
  position: relative;
  top: 2px;
  padding: 5px;
}

.main-nav__user-register {
  color: $link-grey;
}

.header {
  width: 100vw;
  background-color: $bg-blue;
  padding: 10px;
  text-align: left;
  color: #ffffff;
}

.header__text {
  text-shadow: 1px 1px 2px #0096e7;
  color: #ffffff;
  margin-left: 90px;
  font-size: 20px;
  line-height: 1.5;
  & span {
    font-weight: bold;
    color: #ffffff;
  }
}

.content {
  margin: 40px $central;
  width: 100%;
  color: #333333;
}

.content__left {
  width: 50%;
  float: left;
  display: inline-block;
}

.content__specials {
  display: inline-block;
  margin-left: 60px;
  min-width: 40%;
}

.content__advantages {
  float: left;
  width: 60%;
  margin-bottom: 60px;
}

.special__item {
  min-height: 125px;
  color: #ffffff;
}

.specials__italy {
  background: url("../../images/italy.png") no-repeat;
}

.specials__india {
  background: url("../../images/india.png") no-repeat;
}

.specials__usa {
  background: url("../../images/usa.png") no-repeat;
}

.content__title {
  font-size: 21px;
  margin-bottom: 20px;
}

.advantages__list {
  margin: 10px;
}

.advantages__list-item {
  padding: 5px;
  list-style-image: url("../../images/star.png");
}

.content__more {
  color: $link-blue;
}

.service__title {
  font-size: 21px;
  margin-bottom: 20px;
}

.content__service {
  float: right;
}

.fa {
  color: $link-blue;
  vertical-align: middle;
}

.banner {
  margin: 5px $central;
}

.banner__image {
  border: 1px solid #dcdcdc;
  padding: 45px;
  text-align: center;
  color: #ededed;
}

.banner__ad {
  color: #666666;
  font-size: 13px;
}

.footer {
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 10px;
}

.footer__contacts {
  float: left;
  margin: 10px;
  color: #666666;
  font-size: 13px;
  padding-top: 15px;
}

.footer__left {
  float: left;
}

.footer__left, .footer__right {
  margin: 40px 80px;
}

.contact__phone, .footer__contacts-link {
  padding-bottom: 5px;
  color: #666666;
}

.footer__copyright {
  padding: 10px;
  color: #666666;
}

.footer__payment-methods {
  text-align: right;
  padding-bottom: 7px;
}

.footer__share {
padding-left: 280px;
}

.footer__link {
  float: right;
  color: $link-grey;
  font-size: 13px;
}

.wrapper {
  overflow-x: hidden;
  min-width: 900px;
}
